@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

svg {
    display: inline-block;
    margin: 0;
}

h2 {
    @apply text-lg sm:text-xl md:text-2xl;
}

h3 {
    @apply text-sm md:text-base;
}

.markdown img {
    @apply w-full md:w-4/5 my-4 mx-auto;
}

.markdown p {
    @apply py-2;
}
